@using System.Activities.Statements
@using Posadas.Domain.Entities
@using System.Collections.Generic
@using Posadas.WebUI.Utils
@model Posadas.Domain.Entities.HabitacionesPosada

@{
    var prefix = "Habitaciones[" + ViewBag.Index +"]";
}
<div class="col-md-6 divHabitaciones">
    <div class="form-group">
        @Html.LabelFor(model => model.TipoHabitacion, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            <input type="text" name="@(prefix).TipoHabitacion" id="@(prefix).TipoHabitacion" class="form-control" />

            @*@Html.EditorFor(model => model.TipoHabitacion, new {htmlAttributes = new {@class = "form-control"}})*@
            @*@Html.ValidationMessageFor(model => model.TipoHabitacion, "", new {@class = "text-danger"})*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MaximoPersonas, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            <input type="text" name="@(prefix).MaximoPersonas" id="@(prefix).TipoHabitacion" class="form-control" />
            @*@Html.TextAreaFor(model => model.PrecioHabitacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrecioHabitacion, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CantidadHabitaciones, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            <input type="text" name="@(prefix).CantidadHabitaciones" id="@(prefix).TipoHabitacion" class="form-control" />
            @*@Html.EditorFor(model => model.CantidadHabitaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantidadHabitaciones, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PrecioHabitacion, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            <input type="text" name="@(prefix).PrecioHabitacion" id="@(prefix).TipoHabitacion" class="form-control" />
            @*@Html.TextAreaFor(model => model.PrecioHabitacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrecioHabitacion, "", new { @class = "text-danger" })*@
        </div>
    </div>
</div>
