@model Posadas.WebUI.ViewModels.Posadas.PosadasViewModel

@using Posadas.Domain.Entities
@using Posadas.WebUI.Utils;

@{
    ViewBag.Title = "Details";
}
@*@Scripts.Render("~/bundles/posada")*@
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="~/Content/OwlCarousel/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="~/Content/OwlCarousel/owl.theme.css">


<!-- Include js plugin -->
@*<script src="~/Scripts/owl.carousel.js"></script>*@


<h2>Details</h2>



<div>
    <h4>Posada</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt></dt>

        <dd>
            <div class="owl-carousel">
                @foreach (var item in Model.Fotos)
                {

                    var src = String.Format("{0}/{1}/{2}", Constantes.PosadasBase, item.PosadaId, item.Ruta);

                    <img alt="@item.Alt" data-src="@Url.Content(src)" class="FotosDetallePosada lazyOwl" />
                }
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprobado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprobado)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.Estados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Caracteristicas</h3>
        </div>
        <div class="panel-body">

            <div class="form-group">

                <div class="col-md-10">
                    <ul>
                        @foreach (CaracteristicasPosadas caracteristica in @Model.Caracteristicas)
                        {
                            <li class="col-md-3">

                                @caracteristica.Caracteristica.Nombre

                                @if (caracteristica.Caracteristica.Imagen != "")
                                {
                                    <img src="~/Caracteristicas/@caracteristica.Caracteristica.Imagen" alt="@caracteristica.Caracteristica.Nombre" class="icono-Caracteristica"/>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Habitaciones</h3>
        </div>
        <div class="panel-body">

            <div class="form-group ">
                @Html.LabelFor(model => model.Habitaciones, "Tipo Habitaciones", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @for (var i = 0; i < Model.Habitaciones.Count; i++)
                    {
                        <div class="col-md-2">


                            @Html.Label(Model.Habitaciones[i].Tipo.Nombre, htmlAttributes: new { @class = "control-label" })
                            <div class="">
                                @Html.DisplayFor(model => model.Habitaciones[i].CantidadHabitaciones, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>





</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts {
    @Scripts.Render("~/bundles/owlCarousel");

    <script type="text/javascript">
        $(document).ready(function () {
        
            $(".owl-carousel").owlCarousel({
                items: 1,
                
                center:true,
                lazyLoad: true,
                navigation: true,
                navText: ["pre3v", "n3ext"]
               
            });
        });
    </script>
}
